.board {
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.2), 0 1px 4px 2px rgba(0,0,0,0.3);
  margin: 21.440px auto;
  padding: 1px;
}

.board-cell {
  background: #DDD;
  border: 1px solid #999;
  height: 34px;
  width: 34px;
  padding: 2px;
  margin: 1px;
  cursor: pointer;
}

.board-cell:focus {
  outline: none;
}